﻿@{
    ViewData["Title"] = "Home Page";
}
<link type="text/css" rel="stylesheet" href="styles/bootstrap.min.css">
<script src="script/bootstrap.min.js"></script>
<script src="script/jquery-1.10.2.min.js"></script>
<style>
    body {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #cccccc;
    }

    .centered-form {
        margin-top: 60px;
    }

        .centered-form .panel {
            background: rgba(255, 255, 255, 0.8);
            box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
        }
</style>
<div class="container">
    <div class="row centered-form" style="margin-top: 150px;">
        @if (TempData["message"] != null)
        {
            string alertType = "alert alert-" + TempData["alertType"];
            <div class="@alertType">
                <strong>Alert!</strong> @TempData["message"]
            </div>
        }
        <div class="col-md-6">
            <div>
                <h1 style="color: aliceblue">LOGIN</h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Log-in
                    </h3>
                </div>
                <div class="panel-body">
                    <form role="form" asp-action="Login" asp-controller="Home" method="post">
                        <div class="form-group">
                            <input type="email" name="Email" class="form-control input-sm" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input type="password" name="Password" class="form-control input-sm" placeholder="Password">
                        </div>
                        <input type="submit" value="Login" class="btn btn-info btn-block">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Please sign up
                    </h3>
                </div>
                <div class="panel-body">
                    <form role="form" asp-action="Register" asp-controller="Home" method="post">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="Name" class="form-control input-sm" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="Surname" class="form-control input-sm" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" name="Email" class="form-control input-sm" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input type="password" name="Password" class="form-control input-sm" placeholder="Password">
                        </div>
                        <input type="submit" value="Register" class="btn btn-info btn-block">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <div>
                    <h1 style="color: aliceblue">REGISTER</h1>
                </div>
            </div>
        </div>
    </div>
</div>